<!-- another section  -->
<section class="section-4">
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <h1>Performance and Technology  </h1>
        <p>
          The teardrop shape of the Ford GT is the result of extensive work in the wind tunnel.
          Its <br> carbon-fiber body and its 647-horsepower 3.5L
          EcoBoost® V6 engine are the ultimate <br> expressions of technological innovation.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- slide for performance and technology  -->

<div class="section-5">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

      <!-- first slide -->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-12 col-12">
            <img src="../assets/blue1.webp" style="width:100rem;" alt="">
          </div>
          <div class="col-md-12 col-12">
            <h1 style="text-align:center;">Super Light . Super Strong </h1>
            <p>
              The lightweight body is made of carbon fiber . Aluminium structures minimize the weight of the high-strength subframe
            </p>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block" >
        </div>
      </div>

      <!-- second slide  -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-12 col-12">
            <img src="../assets/car1.webp" style="width:100rem;" alt="">
          </div>
          <div class="col-md-12 col-12">
            <h1 style="text-align:center;">Suspension</h1>
            <p style="justify-content: center;">
              Long suspension arms and inboard damper packaging deliver track-capable vehicle dynamics <br> ,an example of Ford Performance engineers
              exploring suspension design for future Ford Performance vehicles.
            </p>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <!-- third slide  -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-12 col-12">
            <img src="../assets/roue1.webp" style="width:100rem;" alt="">
          </div>
          <div class="col-md-12 col-12">
            <h1 style="text-align:center;">Carbon-ceramic brakes</h1>
            <p>
              To help overall performance , Brembo<sup style="font-size:5px;">TM</sup> carbon-ceramic brakes have bee engineered into the Ford GT. <br>
              <span>Brembo is a trademark of Brembo S.p.A</span>
            </p>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>

      <!-- last slide  -->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6 col-12">
            <img src="../assets/engine.webp" style="width:100rem;" alt="">
          </div>
          <div class="col-md-12 col-12">
            <h1 style="text-align:center;">An amazingly powerful engine</h1>
            <p>
              Twin-turbocharged , intercooled EcoBoost® 3.5-liter V6 with 647 horsepower
            </p>
          </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <i class="fa fa-chevron-left fa-3x" aria-hidden="true"></i>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <i class="fa fa-chevron-right fa-3x" aria-hidden="true"></i>
    </a>
  </div>
</div>


<!-- section of racing car  -->

<div class="section-6">
  <div class="row">
    <img class="col-md-12 col-12" src="../assets/race2.webp" alt="">
  </div>
</div>
