@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Asap&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

img{
    width:7rem;
}

li{
    margin-right:12px;
}

#first {
    top: 2rem;
    left:-25rem;
    bottom: auto;
}

#p{
    left:-25rem;
}

#h2{
    letter-spacing: .2rem;
}

#pres{
    margin-top: 10rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.4rem;
}

#pres_p {
    text-align: center;
    text-justify: inter-word;
    font-family: 'Amatic SC', cursive;
    font-weight:bolder;
    margin-left: 12px;
    font-size: 23px;
}

#pres_a:hover{
   text-decoration: none;
}












/* section 6  */

.section-6{
    margin-top:45px;
}

.section-6 .row img{
    width:100rem;
}


/* section-7 */

.section-7{
    margin:55px 0 0 0 ;
}

.section-7 .row .col-md-6 img{
    width:40rem;
}

.section-7 .row .col-md-6 h3{
    text-align:center;
    justify-content: center;
    margin:45px 0 0 0;
   font-weight:bold;
   font-size:35px;
}

.section-7 .row .col-md-6 p{
    margin: 45px 0 0 0 ;
    font-family: 'Raleway', sans-serif;
}

.section-7 .row .col-md-6 .row{
    margin:25px 0 0 0 ;
}

.section-7 .row .col-md-6 .row .col-md-3 p{
    margin: -3px  0 0 -60px;
    font-family: 'Roboto Mono', monospace;
    font-size:33px;
}

.section-7 .row .col-md-6 .row .col-md-3 h1{
    font-weight:bold;
}

.section-7 .row .col-md-6 .row .col-md-3:first-child{
    margin-left: 120px;
}

.section-7 .row .col-md-6 .row .col-md-3:last-child{
    margin-left:140px;
}

/* section-8 */

.section-8 .carousel .carousel-caption{
    top:3rem;
    bottom:auto;
    width:70%;
}

.section-8 .carousel .carousel-caption h1{
    font-size: 55px;
}

.section-8 .carousel .carousel-caption p{
    margin:62px 0 0 0 ;
    font-weight:bold;
}


/* section-9 */

.section-9 .row .colmd-12{
    width:100%;
}

.section-9 .row .col-md-12 img{
    width:100rem;
    position:relative;
}

.section-9 .row .col-md-12 .text{
    position:absolute;
    top:2rem;
    bottom:auto;
    color:white;
    left:24rem;
}

.section-9 .row .col-md-12 .text h1{
    text-align: center;
    justify-content: center;
}

.section-9 .row .col-md-12 .text p{
    margin:12px 0 0 0 ;
}


.section-9 .row .col-md-12 .text button {
    margin:45px 0 0 14rem;
    font-weight: bold;
}

.section-9 .row .col-md-12 .text  button .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

 .section-9 .row .col-md-12 .text button  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    color:white;
  }


  /* section-10 */

  .section-10 .row .col-md-12{
      width:100%;
  }

  .section-10 .row .col-md-12 img{
      position:relative;
        width:100rem;
  }

  .section-10 .row .col-md-12 .family_text{
      position: absolute;
      top:1rem;
      bottom:auto;
      left:26rem;
      color:#616161;
      font-family: 'Roboto Mono', monospace;
      letter-spacing: .2em;
  }


/* start section-11 */


.section-11{
    margin-top: 25px;
}

.section-11 .row{
    width:100rem;
    height:15rem;
    background-color:#102b4e;
}

.section-11 .row .col-md-12{
    margin:95px 0 0 -123px;
}


.section-11 .row .col-md-12 h1{
    text-align: center;
    color:#49a9e9;
}

.section-11 .row .col-md-12 p{
    color:white;
    font-family: 'Roboto Mono', monospace;
}

/* start section-12 */

.section-12{
    margin: 105px 0 0 0;
}

.section-12 .row{
    width:100rem;
    height:15rem;
    background-color:#102b4e;
}

.section-12 .row .col-md-12{
    text-align: center;
    margin:12px 0 0 -100px;
    color:white;
}

.section-12 .row .col-md-12 h1{
    margin:42px 0 0 0;
    font-family: 'Roboto Mono', monospace;
    letter-spacing:0.01em;
}

.section-12 .row .col-md-12 p{
    margin-top: 0.2em;
    letter-spacing: 0.2em;
}

.section-12 .row .col-md-12 p a{
    color:#49a9e9;
}

.section-12 .row .col-md-12 button{
    background:#1f6797;
    border:1px solid #1f6797;
    padding: 15px  ;
    width:400px;
    color:white;
    font-family: 'Roboto Mono', monospace;
}

.section-12 .row .col-md-12 button:hover{
    border:1px solid #1f6797;
    background:white;
    color:#2e76a7;
}


/* start of section-13 */

.section-13{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width:100rem;
    height:8rem;
    background:#333333;
}

.section-13 .col-row-left , .col-row-right{
    flex-basis:50%;
}

.section-13 .col-row-left a{
    font-size:25px;
    color:white;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

.section-13 .col-row-right a{
    margin: 0 0 0 12px;
    font-size:15px;
    color:rgb(110, 96, 96);
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
}

.section-13 .col-row-right a:hover{
    color:white;
}


/* start of section-14 */

.section-14 .row-section-14{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    background:#242424;
    color:white;
    height:25rem;
}

.section-14 .row-section-14 .col-row{
    flex-basis: 20%;
}

.section-14  .row-section-14 .col-row h3{
    margin-top: 30px;
    font-family: 'Roboto Mono', monospace;
    font-size:17px;
}

.section-14  .row-section-14 .col-row ul{
    margin:12px 0 0  -40px;

}

.section-14  .row-section-14 .col-row ul li{
    list-style-type: none;
    color:rgb(110, 96, 96);
    cursor: pointer;
    font-size:15px;
    padding-left: 12px;
}


.section-14  .row-section-14 .col-row ul li:hover{
    color:white;

}


/* section-15 */

.section-15{
    width:100rem;
    height:8rem;
}

.section-15 .row .col-md-12{
    margin:22px 0 0 0;
}


.section-15 .row .col-md-12 a{
    text-decoration: none;
    color:rgb(110, 96, 96);
    padding: 12px;
}

.section-15 .row .col-md-12 a:hover{
   color:rgba(68, 68, 114, 0.493);
}



