<body class="overflow-hidden" style="width:100%;">



<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#">
    <img src="assets/ford-logo.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-primary" href="https://github.com/EdgarEmmanuel" target="_blank">Vehicles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link text-primary" href="#" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shop
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="https://github.com/EdgarEmmanuel" target="_blank">Finance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" href="https://github.com/EdgarEmmanuel" target="_blank">Owner</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-primary" href="#">
            <i class="fa fa-map-marker fa-1x" aria-hidden="true"></i> Locate a Dealer
            <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <li style="list-style-type: none;" class="nav-item dropdown">
        <a class="nav-link " href="#" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user"></i> Sign In
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="/">Shopping Planner</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/">Sign In</a>
        </div>
      </li>

      <!-- MODAL OF SEARCH -->
      <li type="button" class="text-primary" data-toggle="modal" data-target="#exampleModal">
        <i class="fa fa-search" aria-hidden="true"></i>
      </li>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl " role="document"  >
          <div class="modal-content" id="fils" >
            <div class="modal-header" id="head">
              <h6 class="modal-title" id="exampleModalLabel">
                <li type="button" data-toggle="modal" data-target="#exampleModal">
                  <i class="fa fa-search" aria-hidden="true">  Search Anytime By Typing </i>
                </li></h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body ">
              <div class="container">
                <app-modal-nav></app-modal-nav>
              </div>

            </div>

          </div>
        </div>
      </div>

      <li style="list-style-type: none;" class="nav-item dropdown">
        <a class="nav-link " href="#" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          English
          <i class="fa fa-globe" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item " href="/">English</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/">Spanish</a>

        </div>
      </li>
    </form>
  </div>
</nav>

<!-- under the top navbar -->

<div class="row " style="background-color: #113D54;height:60px;" >
  <div class="col-md-5">
    <li style="list-style-type: none;" class="nav-item dropdown">
      <button class="btn nav-link text-white" style="width:230px;height:60px;background-color:#2e76b3;border-radius:none;"
      href="#" id="navbarDropdown" role="button"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Explore FORD <strong>GT</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fa fa-arrow-down" id="downICON" aria-hidden="true"></i>
    </button>
      <div class="dropdown-menu" style="width:230px;border-radius:none;margin-top:-25px;"
       aria-labelledby="navbarDropdown">
        <a class="dropdown-item text-primary" style="padding:20px;" href="/">Gallery</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-primary" style="padding:20px;" href="/">Configurator</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-primary" style="padding:20px;" href="/">Performace and Technology</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-primary" style="padding:20px;" href="/">Videos</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-primary" style="padding:20px;" href="/">Design</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-primary" style="padding:20px;" href="/">Ford Performance </a>
      </div>
    </li>
  </div>
</div>

<!-- CAR PRESENTATION  -->

<div class="row">
  <div class="col-md-12">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="z-index:5;" src="../assets/Ford-GT.jpg" style="height:40rem;" class="d-block w-100" alt="...">
            <!-- id : first -->
            <div id="first" class="carousel-caption d-none d-md-block">
              <h2 style="margin-top:-20px;font-family: 'Asap', sans-serif;">
                <strong id="h2">The most Powerful FORD GT ever</strong>
              </h2>
              <p id="p">See the Ford GT Mk || &nbsp;&nbsp;
                <a href class="btn text-light" style="background-color: none;">
                  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Slide of the car  -->

<app-slide-car></app-slide-car>

<!-- Car Grid -->
<app-car-grid></app-car-grid>

<app-car-configurator></app-car-configurator>

<app-car-performance></app-car-performance>

<!-- section of racing car  -->

<div class="section-6">
  <div class="row">
    <img src="../assets/race2.webp" alt="">
  </div>
</div>

<!-- the car with the vertical displaying  -->

<div class="section-7">
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/car2Blue.webp" alt="">
    </div>
    <div class="col-md-6">
          <h3>Designed for Speed and <br> Performance . From The Ground Up </h3>
          <p>
            Whether on the road or on the track, every single element of the Ford GT was designed to
             deliver the extraordinary speed and exceptional handling found only in purpose-built racing cars.

          </p>
          <div class="row">
               <div class="col-md-3">
                  <h1>3.5L</h1>
                  <p>EcoBoost<sup>®</sup>V6 </p>
               </div>
               <div class="col-md-3">
                 <h1>647</h1>
                 <p>Horsepower</p>
              </div>
          </div>
    </div>
  </div>
</div>

<!-- slide again  -->

<div class="section-8">
  <div id="carouselExampleIndicators" class="carousel slide " data-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="../assets/slide2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item active">
        <img src="../assets/slide3.webp" class="d-block w-100" alt="...">
      </div>
    </div>
    <div class="carousel-caption d-none d-md-block">
      <h1>The Very Definition of Aerodynamic</h1>
      <p>Its aerodynamically optimal teardrop shape minimizes drag and maximizes downforce</p>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<!-- let's Race part  -->

<div class="section-9">
  <div class="row">
    <div class="col-md-12">
      <img src="../assets/race.jpg" alt="">
      <div class="text">
        <h1>Let’s Race</h1>
        <p>
          Competition makes everyone stronger. The Ford GT is feared on the track thanks to wins <br>
           all the way to Le Mans.
           And since that sort of thing winds up in the rest of our vehicles,
           we win <br> races off the track as well.
        </p>
        <button class="btn bg-none text-white">
          View Racing Schedule <i class="arrow right"></i>
        </button>
      </div>
    </div>
  </div>
</div>



<!-- family Part  -->


<div class="section-10">
  <div class="row">
    <div class="col-md-12">
      <!-- img part -->
      <img src="../assets/family.webp" alt="">
      <!-- text part -->
      <div class="text-muted" class="family_text">
          <h1>Welcome to the Family</h1>
      </div>
    </div>
  </div>
</div>


<!-- Get Updates -->

<div class="section-11">
  <div class="row">
    <div class="col-md-12">
      <h1>Get Updates</h1>
      <p> That was fun - do you want to learn more ? </p>
    </div>
  </div>
</div>

<!-- california resident  -->
<div class="section-12">
  <div class="row">
    <div class="col-md-12">
      <h1>California Residents</h1>
      <p>Exercice your rights under the California Consumer Privacy Act <a href="">here</a>. </p>
      <button>Do Not Sell My Personnal Information</button>
    </div>
  </div>
</div>

<!-- footer navbar in grey  -->
<div class="section-13">
  <div class="col-row-left">
      <a href="">Search</a>
  </div>
  <div class="col-row-right">
    <a href="">Popular</a>
    <a href="">Electric Vehicles</a>
    <a href="">Ranger</a>
    <a href="">Explorer</a>
  </div>
</div>

<!-- footer with all options  -->
<div class="section-14">
  <div class="row-section-14">
    <div class="col-row">
      <h3>All Vehicles</h3>
      <ul>
        <li>SUVs & Crossovers</li>
        <li>TRucks & Vans</li>
        <li>Cars</li>
        <li>Electrics</li>
        <li>Commercial Vehicles</li>
        <li>Future Vehicles </li>
        <li>Certified Pre-owned</li>
        <li>Fleet Vehicles</li>
        <li>All Vehicles </li>
        <li>Performance Vehicles</li>
      </ul>
    </div>
    <div class="col-row">
      <h3>Shopping Tools</h3>
      <ul>
        <li>SUVs & Crossovers</li>
        <li>TRucks & Vans</li>
        <li>Cars</li>
        <li>Electrics</li>
        <li>Commercial Vehicles</li>
        <li>Future Vehicles </li>
        <li>Certified Pre-owned</li>
        <li>Fleet Vehicles</li>
        <li>All Vehicles </li>
        <li>Performance Vehicles</li>
      </ul>
    </div>
    <div class="col-row">
      <h3>Finance</h3>
      <ul>
        <li>SUVs & Crossovers</li>
        <li>TRucks & Vans</li>
        <li>Cars</li>
        <li>Electrics</li>
        <li>Commercial Vehicles</li>
        <li>Future Vehicles </li>
        <li>Certified Pre-owned</li>
        <li>Fleet Vehicles</li>
        <li>All Vehicles </li>
        <li>Performance Vehicles</li>
      </ul>
    </div>
    <div class="col-row">
      <h3>Owner</h3>
      <ul>
        <li>SUVs & Crossovers</li>
        <li>TRucks & Vans</li>
        <li>Cars</li>
        <li>Electrics</li>
        <li>Commercial Vehicles</li>
        <li>Future Vehicles </li>
        <li>Certified Pre-owned</li>
        <li>Fleet Vehicles</li>
        <li>All Vehicles </li>
        <li>Performance Vehicles</li>
      </ul>
    </div>
    <div class="col-row">
      <h3>Experience Ford</h3>
      <ul>
        <li>SUVs & Crossovers</li>
        <li>TRucks & Vans</li>
        <li>Cars</li>
        <li>Electrics</li>
        <li>Commercial Vehicles</li>
        <li>Future Vehicles </li>
        <li>Certified Pre-owned</li>
        <li>Fleet Vehicles</li>
        <li>All Vehicles </li>
        <li>Performance Vehicles</li>
      </ul>
    </div>
  </div>
</div>

<!-- botom of the page  -->
<div class="section-15">
  <div class="row">
    <div class="col-md-12">
      <img src="../assets/ford-logo.png" alt=""><br>
       <a href="">&copy;2020 Ford Motor Company</a>
       <a href="">Site Map </a>
       <a href="">Glossary</a>
       <a href="">Site Feedback</a>
       <a href="">Contact Us</a>
       <a href="">Terms & Conditions</a>
       <a href="">Privacy</a>
       <a href="">Cookie Settings</a>
       <a href="">Your CA Privacy Rights</a>
       <a href="">AdChoices</a>

    </div>
  </div>
</div>



</body>

<router-outlet></router-outlet>
