
<style>
    li{
        list-style-type: none;
    }
</style>


<div class="row" >

    <div style="background-color: white;">
        <form class="form-inline" style="border: 1px solid #297EA9;">
            <div class="form-group">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search" 
                style="border:none;width:1000px;height:80px;font-size:80px;">
            <button class="btn btn-outline-primary" type="submit" style="border:none;">
                <i class="fa fa-search fa-3x" aria-hidden="true"></i>
            </button>
            </div>
            
          </form>
    </div>

    </div>


